header{
background-color:black; 
color:	#303030;
padding:5px;
font-size:20px;
font-family:rockwell;
height:70px;
margin: 5px 15px 5px 15px;
}

header.header-content{
	float:left;
	background-color:#7CDBD5; 
	color:white;
	padding:5px;
	font-size:20px;
	font-family:rockwell;
}

footer{
background-color:black; 
padding:8px;
margin: 5px 15px 5px 15px;
height:50px;
}



img.slide
{
	height:100%;
	width:100%;
}
img.slide:hover{
	transition:none;
	transform:none;
}

img.logo
{
	border:1px;
	height:50px;
	width:75px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0px;
	border-radius: 25px;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1); 
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1); 
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);   
	float:left;
}


.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}

.container
{	
	height:79%!important ;
	width:100%!important;
	overflow:hidden!important;
}

#login_username,#login_password
{
	margin-top:10px;
}

.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}